
numpy
scipy
pandas
matplotlib

h5py
joblib
pip
setuptools
twine
pytest
ipython
fire  # for automatic CLI interface


tqdm  # for progress bar
send2trash  # move to recycle bin
clipboard
dill  # extends pickle
cryptography  # for encoding
paramiko  # for SSH
requests
pyyaml
cycler

scikit-image

# torch
# tensorflow
