
# CORE:  
numpy
# scipy
pandas
matplotlib
cycler
rich
tabulate
psutil

# dev
#mypy
#dash
#plotly
#dash_bootstrap_components
#dash_daq
#tensorflow
#tensorboard
sqlalchemy
# scikit-learn


# Accessories
joblib  # multitasking
#setuptools  # for packaging
#wheel  # for packaging
#twine  # for pushing package to pypi.org
# pytest  # popular alternative to builtint unittest
ipython  # interactive python
# jupyterlab  # for jupyter notebook
# nbformat
fire  # for automatic CLI interface
tqdm  # for progress bar
send2trash  # move to recycle bin
clipboard  # copy to clipboard
dill  # extends pickle
cryptography  # for encoding
paramiko  # for SSH
requests  # interacting with web
pyyaml  # storing yaml files.

colorlog

click
#types-requests
#types-paramiko
