
# CORE:
numpy
scipy
pandas
matplotlib
cycler

# gdrive
google-api-python-client  # The Google APIs Client Library for Python:  https://developers.google.com/drive/api/quickstart/python
google-auth
google_auth_oauthlib  # libraries for user authorization
google-auth-httplib2  # libraries for user authorizatio (AS WELL)


# Accessories
joblib  # multitasking
pip  # package management.
setuptools  # for packaging
wheel  # for packaging
twine  # for pushing package to pypi.org
pytest  # popular alternative to builtint unittest
ipython  # interactive python
jupyterlab  # for jupyter notebook
fire  # for automatic CLI interface
tqdm  # for progress bar
send2trash  # move to recycle bin
clipboard  # copy to clipboard
dill  # extends pickle
cryptography  # for encoding
paramiko  # for SSH
requests  # interacting with web
pyyaml  # storing yaml files.

# scikit-image  # image processing.  heavy weight library.
# torch  # for deep learning
# tensorflow  # for deep learning
# tensorboard